.accordion {
  margin-top: 100px;
  margin-bottom: 100px;
}

.ac-head {
  position: relative;
  cursor: pointer;
  padding: 15px 0 15px 95px;
  transition: 0.4s;
  background: #4D3AC1;
  border-bottom: 1px solid #fff;

  &:hover {
    background-color: #907EFF;
  }

  h4 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    color: #fff;
    @media screen and (max-width: 800px) {
      font-size: 18px;
      line-height: 33px;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    left: 38px;
    display: inline-block;
    width: 24px;
    height: 2px;
    background: #fff;
    @media screen and (max-width: 800px) {
      left: 25px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: calc(50% - 12px);
    left: 49px;
    display: inline-block;
    width: 2px;
    height: 24px;
    background: #fff;
    transition: 0.4s;
    @media screen and (max-width: 800px) {
      left: 36px;
    }
  }

  &.in {
    background-color: #FFBB00;

    &:after {
      transform: rotate( 90deg );
    }
  }
}

.ac-body {

  display: none;
  padding: 25px 10px 25px 95px;
  @media screen and (max-width: 800px) {
    padding: 25px 22px 25px 22px;
  }

  p {
    font-size: 20px;
    line-height: 33px;
    @media screen and (max-width: 800px) {
      font-size: 18px;
      line-height: 33px;
    }
  }
}