@import "opt-out";

html,
body {
	font-size: 16px;
	width: 100%;
}

body {
	border: none;
	font-family: 'Barlow', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
  @media screen and (min-width: 2000px) {
    max-width: 2000px;
    width: 2000px;
    margin: 0 auto;
  }
}

h1,
h2,
h3,
h4,
h5 {
	display: block;
	color: #000;
	font-family: 'Barlow', sans-serif;
	font-weight: 800;
	text-transform: none;
}

.active {
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 100% !important;
    height: 1px;
    background: #3A318A;
    position: relative;
    top: 10px;
    transition: 0.4s;
    margin: 0 auto;
  }
}

strong {
	font-weight: 800;
}

p {
	font-size: 16px;
	font-family: 'Barlow', sans-serif;
	font-weight: 400;
	color: #000;
	line-height: 19px;
}

a {
	text-decoration: none;
	display: inline-block;
	transition: 0.4s;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	font-family: 'Barlow';
	font-size: 16px;
	line-height: 19px;
}

img {
	max-width: 100%;
	border: none;
}

button,
select,
input,
textarea {
	font-family: 'Barlow';
	border: none;
}

button {
	cursor: pointer;
}

.wrapper {
	max-width: 1210px;
	height: 100%;
	margin: 0 auto;
	padding: 0 50px;
	position: relative;
  @media screen and (max-width: 1200px) {
    padding: 0 35px;
  }
  @media screen and (max-width: 600px) {
    padding: 0 20px;
  }
}

.link {
	color: #3A318A;
	text-decoration: underline;
  &:hover {
    color: #FF7966;
  }
}

.logo {
	width: 140px;
}

.pos-rel {
	position: relative;
}

/* ------------- header section ------------- */

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 995;
  .top-info {
    background: #000;
    color: #fff;
    font-size: 13px;
    padding: 10px 0;
    @media screen and (max-width: 750px) {
      font-size: 12px;
      padding: 8px 0;
    }
    @media screen and (max-width: 650px) {
      font-size: 10px;
      padding: 5px 0;
    }
    span {
      font-weight: 700;
    }
    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 950px) {
        text-align: center;
      }
      @media screen and (max-width: 600px) {
        display: block;
      }
    }
    a {
      color: #fff;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .top-nav {
    position: relative;
    padding: 40px 0;
    transition: 0.2s;
    @media screen and (max-width: 950px) {
      padding: 30px 0;
    }
    @media screen and (max-width: 750px) {
      padding: 16px 0;
    }
    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .hidden-desktop {
      display: none;
      @media screen and (min-width: 951px) {
        display: block;
      }
    }
  }
  .menu {
    @media screen and (max-width: 950px) {
      display: none;
      width: 100%;
      height: auto;
      position: absolute;
      top: 55px;
      left: 0;
      background: #fff;
      padding: 0 50px;
      z-index: 1000;
      overflow-y: auto;
      text-align: center;
      .close {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
      }
    }

    @media screen and (max-width: 750px) {
      top: 54px;
    }
    @media screen and (max-width: 600px) {
      padding: 0 20px;
    }
    li {
      display: inline-block;
      margin: 0 35px 0 0;
      @media screen and (max-width: 950px) {
        display: block;
        margin: 0 0 20px;
        margin-left: 0;
        &:last-child {
          display: none;
        }
      }
      a {
        color: #000;
        position: relative;
        @media screen and (max-width: 950px) {
          color: #000;
        }
        &:after {
          content: '';
          display: block;
          width: 0;
          height: 4px;
          background: #FF7966;
          position: relative;
          top: 10px;
          transition: 0.4s;
        }
        &:hover:after {
          width: 100%;
        }
        &.get-btn {
          background: transparent;
          color: #fff;
          background: #3A318A;
          border-radius: 4px;
          font-size: 13px;
          font-weight: 700;
          line-height: 16px;
          text-transform: uppercase;
          padding: 10px 30px;
          @media screen and (max-width: 950px) {
            color: #fff;
            background: #3A318A;
            border-radius: 10px;
            width: 100%;
            text-align: center;
            padding: 15px 0;
          }
          &:hover {
            background: #FF7966;
          }
          &:after {
            display: none;
            @media screen and (max-width: 950px) {
              top: 2px;
            }
          }
        }
      }
    }
  }
  .hum {
    width: 50px;
    height: 20px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap;
    cursor: pointer;
    span {
      width: 100%;
      height: 3px;
      background: #3A318A;
      transition: 0.4s;
      position: relative;
      top: 0;
      left: 0;
    }
    &:hover span {
      background: #FF7966;
    }
    &.in span {
      &:nth-child(2) {
        width: 0;
      }
      &:first-child,
      &:last-child {
        width: 26px;
        background: #3A318A;
      }
      &:first-child {
        transform: rotate(45deg);
        top: 9px;
      }
      &:last-child {
        transform: rotate(-45deg);
        top: -8px;
      }
    }
  }
}


/* Footer */

/* Navigation */

footer {
	padding: 0 0 50px;
  .bot-nav {
    background: #3A318A;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0;
      @media screen and (max-width: 1200px) {
        justify-content: center;
        flex-flow: wrap;
        padding: 30px 0 10px;
      }
      @media screen and (max-width: 800px) {
        display: block;
        text-align: center;
      }
      li {
        @media screen and (max-width: 1200px) {
          margin: 0 15px 20px;
        }
        a {
          color: #fff;
          @media screen and (max-width: 800px) {
            font-size: 18px;
          }
          &:after {
            content: '';
            display: block;
            width: 0;
            height: 4px;
            background: #FF7966;
            position: relative;
            top: 10px;
            transition: 0.4s;
            @media screen and (max-width: 800px) {
              top: 5px;
            }
          }
          &:hover:after {
            width: 100%;
          }
        }
      }
    }
  }

  /* Material */
  .material {
    text-align: center;
    padding: 45px 0 0;
    p {
      margin: 0 0 25px;
    }
    .partners {
      margin: 45px 0;
      @media screen and (max-width: 600px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
      }
      a {
        margin: 0 15px;
        @media screen and (max-width: 600px) {
          width: 50%;
          margin: 0;
        }
      }
    }
    .copyright {
      border-top: 1px solid #C4C4C4;
      padding: 15px 0;
      margin: 45px 0 0;
    }
  }
}


/* ===============================================
==================== FAQ PAGE ====================
================================================== */

/* accordeon */

.accordeon {
	margin: 100px 0 0;
  .ac-head {
    position: relative;
    cursor: pointer;
    padding: 20px 0 20px 95px;
    transition: 0.4s;
    background: #3A318A;
    border-bottom: 1px solid #fff;
    @media screen and (max-width: 950px) {
      padding: 20px 20px 20px 75px;
    }
    &.in {
      background: #46CFBB;
      &:after {
        transform: rotate(90deg);
      }
    }
    &:hover {
      background: #FF7966;
    }
    h4 {
      font-size: 20px;
      line-height: 26px;
      font-weight: 400;
      color: #fff;
    }
    &:before {
      content: '';
      position: absolute;
      top: calc(50% - 1px);
      left: 38px;
      display: inline-block;
      width: 24px;
      height: 2px;
      background: #fff;
      @media screen and (max-width: 950px) {
        left: 28px;
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: calc(50% - 12px);
      left: 49px;
      display: inline-block;
      width: 2px;
      height: 24px;
      background: #fff;
      transition: 0.4s;
      @media screen and (max-width: 950px) {
        left: 39px;
      }
    }
  }
  .ac-body {
    display: none;
    padding: 45px 10px 45px 95px;
    @media screen and (max-width: 950px) {
      padding: 35px 10px 35px 75px;
    }
    @media screen and (max-width: 600px) {
      padding: 30px 20px;
    }
    p {
      font-size: 20px;
      line-height: 33px;
    }
  }
}


/* ===============================================
================== CONTACT PAGE ==================
================================================== */

/* contact form */

.box-contact-form {
	width: 100%;
	background: #5E53BD;
	border: 1px solid #5E53BD;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 30px 60px;
	color: #fff;
  .feed_contact {
    text-align: center;
    .field {
      label {
        display: none;
        position: absolute;
        top: 3px;
        left: 20px;
        font-size: 14px;
        color: #F41E00;
      }
      &.error+label {
        display: block;
      }
      .error {
        border-color: #F41E00;
      }
    }
  }
  .req-text {
    color: #fff;
    text-align: left;
    margin: 30px 0 0;
  }
  // Стиль окна после отправки формы
  .disc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
    padding: 200px 0;
    @media screen and (max-width: 600px) {
      padding: 60px 0 20px;
    }
    .img {
      width: 105px;
      height: 105px;
      background: #fff;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    h3 {
      font-weight: 800;
      font-size: 48px;
      line-height: 124%;
      color: #fff;
      max-width: 360px;
      margin: 25px auto;
      @media screen and (max-width: 600px) {
        font-size: 36px;
      }
    }
    p {
      font-size: 18px;
      line-height: 27px;
      color: #fff;
    }
  }
}


/* ===============================================
=================== TERMS PAGE ===================
================================================== */

.terms-page-section {
	padding: 80px 0;
  @media screen and (max-width: 1050px) {
    padding: 0 0 50px;
  }
  @media screen and (max-width: 500px) {
    padding: 50px 0;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media screen and (max-width: 1050px) {
      display: block;
      padding: 0;
      max-width: 100%;
    }
  }
  h1 {
    font-size: 24px;
    color: #283c7d;
  }
  .left-box {
    width: 25%;
    background-color: #283c7d;
    padding: 50px 60px;
    border-radius: 4px;
    @media screen and (max-width: 1300px) {
      padding: 20px;
    }
    @media screen and (max-width: 1050px) {
      width: 100%;
      margin: 0 0 70px;
      border-radius: 0;
    }
    @media screen and (max-width: 500px) {
      display: none;
    }
    select {
      display: none;
    }
    ul {
      @media screen and (max-width: 1050px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
      }
      @media screen and (max-width: 800px) {
        padding: 0;
      }
      li {
        position: relative;
        padding: 20px 0;
        @media screen and (max-width: 1050px) {
          padding: 5px 0;
        }
        a {
          color: #fff;
          font-size: 18px;
          font-weight: 600;
          position: relative;
          @media screen and (max-width: 1050px) {
            color: #fff;
            font-size: 14px;
          }
          @media screen and (max-width: 700px) {
            font-size: 12px;
          }
          @media screen and (max-width: 600px) {
            font-size: 10px;
          }
          &:after {
            content: '';
            display: block;
            width: 0;
            height: 1px;
            background: #fff;
            position: absolute;
            bottom: -5px;
            left: 0;
            transition: 0.4s;
          }
          &:hover:after {
            width: 100%;
          }
        }
        &.active-term a:after {
          width: 100%;
        }
      }
    }
  }
  .right-box {
    width: 73%;
    @media screen and (max-width: 1300px) {
      width: 70%;
    }
    @media screen and (max-width: 1050px) {
      width: 100%;
      max-width: 850px;
      height: 100%;
      margin: 0 auto;
      padding: 0 50px;
      position: relative;
    }
    @media screen and (max-width: 600px) {
      padding: 0 20px;
    }
    h1 {
      text-align: left;
      margin: 0 0 50px;
      @media screen and (max-width: 500px) {
        margin: 0 0 30px;
      }
    }
    h5,
    p,
    ul {
      font-size: 16px;
      margin-bottom: 15px;
      line-height: 1.5;
      @media screen and (max-width: 600px) {
        font-size: 16px;
      }
    }
    li {
      line-height: 1.2;
    }
    h5 {
      font-weight: 700;
      margin: 0;
    }
  }
  table td {
    margin: 30px 0;
    padding: 10px 20px 10px 0;
    border: 1px solid #000;
    padding: 15px;
  }
}


/* cookie message */

.cookie-message {
	width: 100%;
	text-align: left;
	position: fixed;
	bottom: -100%;
	left: 0;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px 40px;
	transition: 0.4s;
	opacity: 0;
	z-index: 100;
  @media screen and (max-width: 1100px) {
    justify-content: space-between;
    padding: 5px 20px;
  }
  &.view {
    border-top: 1px solid #000;
    bottom: 0;
    opacity: 1;
  }
  p {
    color: #000;
    font-size: 16px;
    margin: 0;
    text-transform: capitalize;
    @media screen and (max-width: 1100px) {
      font-size: 14px;
    }
    @media screen and (max-width: 450px) {
      font-size: 12px;
    }
    a {
      text-decoration: underline;
      color: #000;
    }
  }
  .cookie-close {
    cursor: pointer;
    font-weight: 900;
    text-transform: uppercase;
    padding: 5px 60px;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    margin-left: 45px;
    transition: .4s;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    @media screen and (max-width: 1100px) {
      margin-left: 20px;
    }
    @media screen and (max-width: 600px) {
      padding: 5px 40px;
    }
    @media screen and (max-width: 450px) {
      padding: 5px 25px;
      font-size: 14px;
    }
    &:hover {
      background-color: #1d262d;
      color: #fff;
      border-color: #1d262d;
    }
  }
}

/* ------------- form error ------------- */

.feedCaptcha-error {
	color: red;
	font-size: 12px;
	position: absolute;
	bottom: -15px;
	left: 5px;
}


/* ------------- modal ------------- */

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 1004;
	overflow-y: auto;
  @media screen and (max-height: 760px) {
    align-items: flex-start;
  }
  &.flex-add {
    display: flex;
  }
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1005;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 51, 102, 0.9);
    cursor: pointer;
  }
  .window {
    position: relative;
    z-index: 1006;
    width: 540px;
    background: #FCD655;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: modal 0.5s ease-in;
    -webkit-animation: modal 0.5s ease-in;
    -moz-animation: modal 0.5s ease-in;
    text-align: center;
    border-radius: 8px;
    padding: 40px;
    @media screen and (max-height: 760px) {
      margin-top: 5px;
    }
    .icon {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: #5653A0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    h2 {
      font-size: 40px;
      line-height: 48px;
      margin: 15px 0 5px;
    }
    h3 {
      width: 100%;
      font-weight: 400;
      font-size: 30px;
      line-height: 36px;
    }
    hr {
      border: none;
      width: 100%;
      height: 1px;
      background: #000;
    }
  }
}


/* animation open modal */

@keyframes modal {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

// all styles

#omForm.omForm .om_subhead,
#omForm.omForm .om_full_step_colored_bg {
	background: red;
}

.omUKopt_out {
	cursor: pointer;
}

header.navigate-fix-top {
	position: absolute;
}

.none-get-btn {
	display: none !important;
}